@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-custom {
    background-image: url('/public/images/background.png');
    background-size: cover;
    background-position: center;
}
@font-face {
    font-family: 'OCR';
    src: url('/public/fonts/OCRAStd.otf') format('opentype'),
    url('/public/fonts/OCRAStd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OCR';
    src: url('/public/fonts/OCRAStd.otf') format('opentype'),
    url('/public/fonts/OCR-a___.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
